/*-- scss:defaults --*/

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300..700&display=swap');


// fonts
$raleway: "Raleway", sans-serif;
$bodoni: "Bodoni Moda", serif;
$nanum: "Nanum Gothic Coding", monospace;
$zen: "Zen Kaku Gothic Antique", sans-serif;
$anaheim: "Anaheim", sans-serif;
$vend: "Vend Sans", sans-serif;
$manrope: "Manrope", sans-serif;
$commissioner: "Commissioner", sans-serif;

// colors
$darkbrown: #33261D; 
$lightblue: #BFD5E2; 
$navyblue: #13293D; 
$lavender: #816E94; 
$green: #234326; 
$eggshell: #F3F0E3; 
$cream: #FAF7F3;
$white: white;
$duskblue: #485696;
$black: #000000;


// define quarto variables
$body-bg: $white;
$navbar-bg: $navyblue;
$navbar-fg: $white;
$footer-bg: $navyblue;
$navbar-hl: $white;
$link-color: $duskblue;
$body-color: $black;

/*-- scss:rules --*/


h1, h2 {
  font-family: $manrope;
}

body {
  font-family: $manrope;
}

.navbar-brand img { 
  max-height: 40px;
  width: auto;
}

h1, h2 {
  letter-spacing: 1px;
  font-weight: 500;
}

.title {
  color: $black;
}

.center-text {
  text-align: center;
}

.lavender-text {
  color: $lavender;
}

.panel-tabset {
  clear: both;
  width: 100%;
  margin-top: 2rem;
}

.quarto-about-trestles {
  margin-bottom: 2rem;
}

.quarto-about-trestles + * {
  clear: both;
}

.gallery-section {
  clear: both;
  width: 100%;
  margin-top: 2rem;
}


